<!DOCTYPE html>
<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->


<html>
    <head>
        <meta charset="utf-8">
        <script src="/lib/echarts.js"></script>
        <!-- <script src="/lib/esl.js"></script> -->
        <script src="/lib/config.js"></script>
        <script src="/lib/jquery.min.js"></script>
        <script src="/lib/facePrint.js"></script>
        <script src="/lib/testHelper.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/lib/reset.css">
        <script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
        <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script> 
        
        <script src="https://cdn.bootcss.com/popper.js/1.14.7/umd/popper.min.js"></script>
        <link href="/js/lib/bootstrap-4.3.1-dist/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/js/lib/bootstrap-select-1.13.5-dist/css/bootstrap-select.min.css" rel="stylesheet" />
        <script src="/js/lib/jquery-1.9.1.min.js"></script>
        <script src="/js/lib/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
        <script src="/js/lib/bootstrap-select-1.13.5-dist/js/bootstrap-select.min.js"></script>
    </head>

    <body>
        <style>
            h1 {
                line-height: 60px;
                height: 60px;
                background: #146402;
                text-align: center;
                font-weight: bold;
                color: #eee;
                font-size: 14px;
            }
            .chart {
                height: 500px;
            }
        </style>

        <div style="margin-left: 100px; margin-top: 20px; margin-bottom: 20px;" id="box">
            <label >设备</label> 
            <select id="selectPhoneCount" data-size="10" class="selectpicker">
            </select>
            <select id="batteryValue" class="selectpicker">
                <% printData.batteryValues.forEach(function(value){ %>
                    <% if (value == printData.batteryInfoType){ %>
                        <option value="<%-value%>" selected><%-value%></option>
                    <% } else {%>
                        <option value="<%-value%>"><%-value%></option>
                    <% }%>
                <% }); %>
            </select>
            
            <input type="button" value="提交" @click="submitPhone()" class="btn btn-primary">
        </div>
        <div id="chartContainer"></div>
        
        <script>
            var optionXX = {
                tooltip: {
                    trigger: 'axis',
                    position: function (pt) {
                        return [pt[0], '10%'];
                    }
                },
                legend: {
                    data: ['']
                },
                title: {
                    left: 100,
                    text: '<%-JSON.stringify(printData.batteryInfoType)%>',
                },
                toolbox: {
                    feature: {
                        dataZoom: {
                            yAxisIndex: 'none'
                        },
                        restore: {},
                        saveAsImage: {}
                    }
                },
                grid: {
                    containLabel: true
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: []
                },
                yAxis: {
                    type: 'value',
                    boundaryGap: [0, '10%']
                },
                dataZoom: [{
                    type: 'inside',
                    start: 0,
                    end: 100
                }, {
                    start: 0,
                    end: 10,
                    handleIcon: 'M10.7,11.9v-1.3H9.3v1.3c-4.9,0.3-8.8,4.4-8.8,9.4c0,5,3.9,9.1,8.8,9.4v1.3h1.3v-1.3c4.9-0.3,8.8-4.4,8.8-9.4C19.5,16.3,15.6,12.2,10.7,11.9z M13.3,24.4H6.7V23h6.6V24.4z M13.3,19.6H6.7v-1.4h6.6V19.6z',
                    handleSize: '80%',
                    handleStyle: {
                        color: '#fff',
                        shadowBlur: 3,
                        shadowColor: 'rgba(0, 0, 0, 0.6)',
                        shadowOffsetX: 2,
                        shadowOffsetY: 2
                    }
                }],
                series: [
                    {
                        name:'',
                        type:'line',
                        smooth:true,
                        symbol: 'none',
                        sampling: 'average',
                        itemStyle: {
                            normal: {
                                color: 'rgb(255, 70, 131)'
                            }
                        },
                        areaStyle: {
                            normal: {
                                color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                    offset: 0,
                                    color: 'rgb(255, 158, 68)'
                                }, {
                                    offset: 1,
                                    color: 'rgb(255, 70, 131)'
                                }])
                            }
                        },
                        data: []
                    }
                ]
            };

            var phoneCount = <%-JSON.stringify(printData.phoneCount)%>;
            var onceCount =  <%-JSON.stringify(printData.onceCount)%>;
            var phoneCountSelect = document.getElementById("selectPhoneCount");
            var selectHtml = ''
            var maxItem = phoneCount/onceCount;
            for(var i = 0; i < maxItem; i++){
                var value = (i * onceCount + 1) + '-' + ((i >= (maxItem -1))? phoneCount:(i * onceCount + onceCount));
                if(i == 0){
                    selectHtml+= '<option value="' + value + '" selected>' + value +'</option>';
                }else{
                    selectHtml+= '<option value="' + value + '">' + value +'</option>';
                }
            }
            phoneCountSelect.innerHTML = selectHtml;

            function updateCharts(phoneListParam){
                var divCon = document.getElementById("chartContainer");
                var divText = "";
                phoneListParam.forEach(function(value, index){
                    divText += '<div style="width:50%;height:800;margin-bottom:20px;float:left;" class="chart" id="main' + index + '"></div>';
                });
                divCon.innerHTML = divText;

                phoneListParam.forEach(function(value, index){
                    var chart = echarts.init(document.getElementById('main' + index));
                    var headMsg = value.phonesn + '-' + ((value.phoneInfo['brand'])? value.phoneInfo['brand']:'') + '-' 
                        + ((value.phoneInfo['model'])? value.phoneInfo['model']:'') + '-' + ((value.phoneInfo['devicesn'])? value.phoneInfo['devicesn']:'');
                    optionXX.legend.data[0] = headMsg;
                    optionXX.xAxis.data = value.time;
                    optionXX.series[0].name = headMsg;
                    optionXX.series[0].data = value.data;
                    chart.setOption(optionXX)
                });
            }

            var phoneList = <%-JSON.stringify(printData.phoneList)%>;
            updateCharts(phoneList)

            var vm = new Vue({
                el:'#box',
                data:{
                    msg:'Hello World!',
                },
                methods:{
                    submitPhone:function(){
                        var myselect = document.getElementById("selectPhoneCount");
                        var index = myselect.selectedIndex;
                        var phoneCountValue = myselect.options[index].text;
                        var regResult = phoneCountValue.match(/(\d+)-(\d+)/);
                        if(!(regResult && regResult.length == 3)){
                            alert("string invalid!");
                            return;
                        }
                        var phoneMin = regResult[1];
                        var phoneMax = regResult[2];
                        
                        var batteryValueSelect = document.getElementById("batteryValue");
                        var index = batteryValueSelect.selectedIndex;
                        var batteryValue = batteryValueSelect.options[index].text;
                        this.$http.post('/allUpdate', {phoneMin:phoneMin,phoneMax:phoneMax,batteryValue:batteryValue}, {emulateJSON:true}).then(function(res){
                            updateCharts(res.body.phoneList);
                        }, function(res){
                            console.log("res.status");
                        })
                    }
                }
            });

        </script>
    </body>
</html>
